Package: kmod-ath9k-common
Version: 2.6.32.27+2011-11-15-2
Depends: kernel (=2.6.32.27-1), kmod-ath
Provides: 
Source: package/mac80211
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 111945
Description:  Atheros 802.11n wireless devices (common code for ath9k and ath9k_htc)
