Package: kmod-ath
Version: 2.6.32.27+2011-11-15-2
Depends: kernel (=2.6.32.27-1), kmod-mac80211
Provides: 
Source: package/mac80211
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 9676
Description:  This module contains some common parts needed by Atheros Wireless drivers.
