Package: kmod-cfg80211
Version: 2.6.32.27+2011-11-15-2
Depends: kernel (=2.6.32.27-1), wireless-tools, iw, crda
Provides: 
Source: package/mac80211
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 98432
Description:  cfg80211 is the Linux wireless LAN (802.11) configuration API.
